.title {
    font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    line-weight: 28px;
    italic: 0;
}
.font {
    font-family: 'Libre Franklin', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
