.title {
    font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    line-weight: 28px;
    italic: 0;
}
.LandingPageFont {
font-family: 'Libre Franklin', sans-serif;
font-optical-sizing: auto;
font-weight: 800;
font-size: 0.75rem
font-style: normal;
}
.font {
    font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    line-weight: 28px;
    italic: 0;
}

.header {
    font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
    line-weight: 28px;
    italic: 0;
}
.sub-header-font {
    font-family: 'Libre Franklin', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}

.libre-franklin-thin {
    font-family: 'Libre Franklin', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
}
