.libre-franklin-thin {
    font-family: 'Libre Franklin', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
}

.description {
    font-family: 'Libre Franklin', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.announcement {
    font-family: 'Libre Franklin', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
}
